pipeline/Fourth_pipeline.json
{
	"name": "Fourth_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"exists",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "First_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_file_system": {
										"value": "@pipeline().parameters.pp_file_system",
										"type": "Expression"
									},
									"pp_file_intput": {
										"value": "@pipeline().parameters.pp_file_input",
										"type": "Expression"
									},
									"pp_file_output": {
										"value": "@pipeline().parameters.pp_file_output",
										"type": "Expression"
									},
									"pp_file_archive": {
										"value": "@pipeline().parameters.pp_file_input",
										"type": "Expression"
									},
									"pp_file_name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_file_system": {
				"type": "string"
			},
			"pp_file_input": {
				"type": "string"
			},
			"pp_file_output": {
				"type": "string"
			},
			"pp_file_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Activity"
		},
		"annotations": []
	}
}